body {
	margin:0;
}

header {
	background:gray;
	color:white;
	padding:5px 15px 0 15px;

}

header h1 {
	margin:0;
	display: inline;

}

header h1 a {
	color:black;
}

div ul {
	margin:0;
	padding:0 0 0 15px;
	display:inline;
}

div ul li {
	background: black;
	color:white;
	list-style-type: none;
	display: inline-block;
	padding:5px 15px;
	margin: 0;
	float:right;
}

div ul li a{
	color: white;
}


.container{
	font: Verdana;

}

.navegacao{
	width:30%;
	color:white;
  	border-radius: 5px;
  	padding: .5%;
  	float:right;
  	background:#333;
  	width:30%;
	margin:.5%;
	text-align: center;

}
 .conteudo{
	color:white;
  	border-radius: 5px;
  	padding: .5%;
  	float:left;
  	background:#333;
  	width:66%;
	margin:.5%;
	text-align: center;


}
footer {
	clear:both;
}