body {
	margin:0;
}

header {
	background:gray;
	color:white;
	padding:5px 15px 0 15px;

}
header h1 {
	margin:0;
	display: inline;

}

nav ul {
	margin:0;
	padding:0 0 0 15px;
	display:inline;
}

nav ul li {
	background: black;
	color:white;
	list-style-type: none;
	display: inline-block;
	padding:5px 15px;
	margin: 0;
}

nav ul li a{
	color: white;
}


.container{

}

.navegacao{
	color:white;
  	border-radius: 5px;
  	padding: .5%;
  	float:left;
  	background:#333;
  	width:31%;
	margin:.5%;
	text-align: center;
}
 .conteudo{
	color:white;
  	border-radius: 5px;
  	padding: .5%;
  	float:left;
  	background:#333;
  	width:31%;
	margin:.5%;
	text-align: center;

}
footer {
	clear:both;
}