 .darkBG {
 	background: #999;
 }
 .darkerBG {
  	background: #666;
  }

 .darkestBG {
 	background: #333
 }

 .busca {
 	float:right;
 }

  .MyPanel {
	  box-shadow: 0px 0px 4px #CCC;
	  border: 1px solid #0C1D8A;
	  border-radius: 5px 5px 0 0;
	  margin: 3%;
  }

   .MyPanel .heading {
   		background:#1BDDE0;
   		border: 1px solid #0C1D8A;
   		border-radius: 5px 5px 0 0;
   		color:#0C1D8A;
   		padding: 10px 20px;
   		
  }
	.MyPanel .body {
		padding: 10px 20px;
	}

	 .MyPanel .showOnHover {
	 	display:none;
	 }

	  .MyPanel:hover {
			box-shadow: 0px 0px 8px black;
			margin: 3% 1%;

	  }

	  .MyPanel:hover .showOnHover {
			display:inline-block;

	  }